:root{
  --radish: #FF0A57;
  --radishDark: #B2003A;
  --leafy: #77C54D;
  --leafyDark: #478D2D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  /* background-color: var(--leafyDark); */
  background-image: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8fA%3D%3D);
}

img {
  width:100%;
}

.cardImage {
  width:100%;
}

#logo {
  width: 150px;
}

.recipeImage {
  align-self: center;
}

.Navbar {
  background-color: var(--radishDark);
  color: var(--leafy);
  margin-bottom: 10px;
}

#Searching {
  display:flex;
  gap: 4px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  /* text-align: 'center'; */
  /* align-items: center; */
  justify-content: center;
  background-color: var(--radishDark);
  width:100vw
}